*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
.row{
	padding:1%;
	width: 100%;
	font-size:1em;
}
h1{
	font-size:1.75em;
	color: red;
	text-align: center;
	margin:10px 0px;
}
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4,.col-lg-6{
    float: left;
    border: 3px solid black;
    margin:1%;
    background-color: #D3D3D3;
  }
  .col-lg-4 {
    width: 31.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width:991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 3px solid black;
     margin:1%;
     background-color: #D3D3D3;
  }
  #Sushi{
	clear: both;
	}
  .col-md-6 {
    width: 48%;
  }
  .col-md-12 {
    width: 98%;
  }
}
/***********************************************/
@media (max-width: 767px){
	.row > div{
		clear:both;
		float:left;
		background-color: #D3D3D3;
		margin:1%;
		border: 3px solid black;
	}
}
h3{
	font-size: 1.25em;
	text-align: center;
	float:right;
	width:150px;
	padding:10px 30px;
	border-bottom:3px solid black;
	border-left:3px solid black;
}

#Chicken > h3{
	background-color: 	#FFC0CB;
}
#Beef > h3{
	background-color: 	red;
}
#Sushi > h3{
	background-color: 	yellow;
}
p{
  font-family: Helvetica;
  color: white;
  clear:both;
  padding:10px;
}



